# 01주 데이터분석입문

In [1]:
import numpy as np
np.__version__

'1.26.4'

# 파임선 기초
## 기본 자료형

In [15]:
type(1), type(3.5)

(int, float)

In [16]:
type([]), type((1,))

(list, tuple)

In [17]:
type({1:1. 2:4}), type({1, 2, 3})

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2014626242.py, line 1)

# 연산자

In [5]:
3 ** 4, 10 % 3

(81, 1)

## 내장함수

In [6]:
divmod(10, 3)

(3, 1)

In [7]:
int('30') + float('3.56')

33.56

In [9]:
chr(90), ord('a'), ord('가')

('Z', 97, 44032)

In [10]:
eval('3 + 4 * 5')

23

In [11]:
s = "py"
id(s)

140724230636128

## 표준입력

In [13]:
age = input('나이는?')
int(age) + 1

23

In [14]:
age = int(input('나이는?'))
age + 1

23

## end of code